.visible-canvas {
    display: block;
    margin: 0 auto;
}

.header-inner {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logout-form {
    top: 1vh;
    position: fixed;
    right: 1vw;
}

h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.list-container {
    padding: 1vh 1vw;
}

.center-in-div {
    margin: 1vh auto;
    display: block;
}

#hidden-canvas {
    float: left;
    z-index: -10;
}

.invisible-canvas, .window-inactive, .inactive-form  {
    display: none;
    visibility: hidden;
}

.window-active {
    visibility: visible;
}

#map-canvas {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#map-canvas-div {
    min-height: 512px;
}

::-webkit-scrollbar {
    display:none;
}

.full-width {
    width: 100vw;
}

.mapmaker-column {
    height: 100vh;
}

.load-map-modal {
    position: fixed;
    left: 5vw;
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
}

.map-selection-list-item-inner, .map-selection-list-item {
    border-top: 1px black groove;
}

.preview-map-canvas {
    border-right: .5px black groove;
    border-bottom: .5px black groove;
}

.preview-canvas-wrapper-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.preview-map-title-div {
    position: absolute;
    top: 0;
}

.preview-modal-load-map-button-div {
    position: absolute;
    bottom: 0;
}

#preview-map-neighbourhood, #preview-map-name, #preview-map-tileset{
    text-align: center;
}

.load-maps-names-div {
    overflow: scroll;
    max-height: 80vh;
}

.load-modal-content, .load-modal-body, .modal-container, .modal-row {
    max-height: 90vh;
}

.map-overview-canvas-wrapper, .map-overview-info-wrapper, .map-overview-buttons-wrapper {
    overflow: hidden;
    white-space: nowrap;
}

.map-overview-canvas-wrapper:hover {
    cursor: grab;
}

.map-overview-canvas-wrapper:active {
    cursor: grabbing;
}

.map-overview-buttons-wrapper {
    text-align: center;
}

.overview-canvas {
    display: inline-block;
    margin-left: .5vw;
    margin-right: .5vw;
}

.overview-header-row {
    width: 100vw;
    display: block;
    text-align: center;
}

.go-back-button {
    visibility: hidden;
}

body {
    overflow: hidden;
}