.visible-canvas {
    display: block;
    margin: 0 auto;
}

.header-inner {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logout-form {
    top: 1vh;
    position: fixed;
    right: 1vw;
}

h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.list-container {
    padding: 1vh 1vw;
}

.center-in-div {
    margin: 1vh auto;
    display: block;
}

#hidden-canvas {
    float: left;
    z-index: -10;
}

.invisible-canvas, .window-inactive, .inactive-form  {
    display: none;
    visibility: hidden;
}

.window-active {
    visibility: visible;
}

#map-canvas {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#map-canvas-div {
    min-height: 512px;
}

::-webkit-scrollbar {
    display:none;
}

.full-width {
    width: 100vw;
}

.mapmaker-column {
    height: 100vh;
}