.visible-canvas {
    display: block;
    margin: 0 auto;
}

.header-inner {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h1 {
    display: inline;
    margin: 2vh 10vw;
}

h3 {
    display: block;
    margin: 1vh auto;
    text-align: center;
}

.list-container {
    padding-bottom: 1vh;
}

#tilesheet-button {
    margin: 1vh auto;
    display: block;
}