
<div class="top-container">
    <h1> bruh </h1>
</div>    
<div class="main-container">
    <div class="main-inner">
        <h1></h1>
        <div class="images-container">
            <div class="image-container"> 
                <canvas id="map-canvas"></canvas>
            </div>
            <div class="image-container"> 
                <canvas id="tilesheet-canvas"></canvas>
            </div>
        </div>
        <div class="ui-container">
            <div class="ui-left">
                <button id="left-canvas">please click me</button>
                <label for="map-file" style="cursor: pointer;">Upload Image</label>
                <input id="left-input" type="file" name="map-filename" accept="image/gif, image/jpeg, image/png">
            </div>
            <div class="ui-right">
                <button id="right-canvas">please click me</button>
                <label for="sheet-file" style="cursor: pointer;">Upload Image</label>
                <input id="right-input" type="file" name="sheet-filename" accept="image/gif, image/jpeg, image/png">
            </div>
        </div>
    </div>
</div>
<div class="bottom-container">
    <h1>brrrruh</h1>

</div>