
<div class="top-container">
    <h1> bruh </h1>
</div>    
<div class="main-container">
    <div class="main-inner">
        <div class="images-container">
            <div class="image-container"> 
                <canvas id="map-canvas"></canvas>
            </div>
            <div class="image-container"> 
                <canvas id="tilesheet-canvas"></canvas>
            </div>
        </div>
        <div class="ui-container">
            <div class="ui-left">
                <p>
                    <label for="map-file" style="cursor: pointer;">Upload Map</label>
                    <input id="map-input" type="file" name="map-filename" accept="image/gif, image/jpeg, image/png" onchange="getImage(event)">                    
                </p>
                <p id="map-paragraph">
                
                </p>

            </div>
            <div class="ui-right">
                <p>
                    <label for="sheet-file" style="cursor: pointer;">Upload Tilesheet</label>
                    <input id="sheet-input" type="file" name="sheet-filename" accept="image/gif, image/jpeg, image/png" onchange="getImage(event)">                    
                </p>
                <p id="sheet-paragraph">
                                        
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bottom-container">
    <div class="ui-bottom">
        <button onclick="initComparison()" class="send-button">Calculate!</button>
    </div>    
    <div class="ui-bottom">
        <button onclick="copyArrayToClipboard()" class="send-button">Copy array</button>
    </div>
</div>
<div class="bottom-container">
    <div class="ui-bottom">
        <label>How many unique tiles are there in the sheet?</label>
        <input id="tileNumInput" >
    </div>    
    <div class="ui-bottom">
        <button onclick="generateXYPositions()" class="send-button">bruh</button>
    </div>
</div>