<div id="mapmaker-div"  class="window window-inactive"> 
    <!-- Map row -->
    <div class="row">
        <!-- Current map data -->
        <div class="col-sm-2 border-right border-info mapmaker-column">   
            <div style="position: fixed;">
                <div>
                    <h2>Current map data</h2>
                    <hr/>
                </div>
                <div>
                    <h3>Information:</h3>
                    <p>Mapname: <span id="mapname-span"> null </span> </p>             
                    <p>Neighbourhood: <span id="neighbourhood-span"> null </span> </p>                     
                </div>
                <div>
                    <h3>Dimensions:</h3>
                    <p>Rows: <span id="rows-span"> null </span> </p>             
                    <p>Columns: <span id="columns-span"> null </span> </p>                     
                </div>
                <div class="mb-3">
                    <h3>Selected tile:</h3>
                    <!-- hidden canvas for copy/pasting tiles -->
                    <canvas id="selected-tile-canvas" class="visible-canvas">

                    </canvas>
                </div>   
                <div class="mb-3">
                    <button id="save-map-button" class="btn btn-outline-success">Save map</button>
                </div>             
                <div class="mb-3">
                    <button id="export-map-button" class="btn btn-outline-success">Export map data</button>
                </div>    
                <div class="mb-3">
                    <button id="clear-grid-button" class="btn btn-outline-success">Clear grid</button>
                </div>
                <div class="mb-3">
                    <button id="back-to-map-menu-button" class="btn btn-outline-success navigation-button">Back to New map screen</button>
                </div>
            </div>
        </div>
        <!-- Current map grid -->
        <div class="col-sm-8 fixed-div">
            <div id="map-canvas-div" class="list-container">
                <canvas id="map-canvas" class="border border-info invisible-canvas"></canvas>
            </div>  
        </div> 
        <!-- Active map idea -->
        <div class="col-sm-2 border-left border-info mapmaker-column">   
            <div id="tilesheet-div" class="list-container">
                <canvas id="tilesheet-canvas" class="border border-info invisible-canvas"></canvas>
            </div>  
        </div> 
    </div>       
</div>