<div id="mapmaker-menu-div" class="row window window-inactive">
    <div class="col-sm-4 pt-5">
        <button id="new-map-button" class="mt-5 btn btn-success btn-lg btn-block navigation-button">
            Create new map
        </button>
    </div>
    <div class="col-sm-4">
        <p class="text-center">
            Do you want to load an existing map or create a new one?
        </p>
    </div>
    <div class="col-sm-4 pt-5">
        <button id="load-map-button" class="mt-5 btn btn-success btn-lg btn-block navigation-button">
            Load map
        </button>
    </div>
</div>