<div>
    <div class="header border-bottom border-info">
        <div class="header-inner container">
            <h1>
                RPG Mapmaker
            </h1>

            <button type="button" class="btn btn-success">
                Load map
            </button>
            <button type="button" class="btn btn-success">
                Save map
            </button>
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="row">
            <div id="standaarden-wrapper" class="col-sm-3 border border-info">
                <h3 class="border-bottom border-info">Options</h3>        
                <div id="options-div" class="list-container">
                
                </div>
            </div>
            <div id="regelinformatie-wrapper" class="col-sm-6 border border-info">
                <h3 class="border-bottom border-info">Map</h3>      
                <div id="map-canvas-div" class="list-container">
                    <canvas id="map-canvas" class="border border-info visible-canvas"></canvas>
                </div>  
            </div> 
            <div id="gegevenselementen-wrapper" class="col-sm-3 border border-info">
                <h3 class="border-bottom border-info">Sheet</h3>      
                <div>
                    <button id="tilesheet-button" class="btn btn-info" data-toggle="modal" data-target="#tilesheetModal">Select tilesheet</button>                       
                </div>
                <div id="tilesheet-div" class="list-container">
                    <canvas id="tilesheet-canvas" class="border border-info visible-canvas"></canvas>
                </div>  
            </div> 
        </div>       
    </div>
</div>