<div id="neighbourhood-manager-div" class="row window window-inactive my-auto p-2">
    <div class="col-sm-12 col-md-3">
        <div class="select-neighbourhood-controls-for-manager">
            <h4>Current neighbourhoods</h4>
            <div id="manager-controls-column" >

            </div>
        </div>
        <div class="edit-neighbourhood-controls-for-manager window-inactive">
            <h4 id="current-neighbourhood-title">Current neighbourhoods</h4>
            <button id="return-to-hood-selection" class="mt-5 mb-5 btn btn-outline-success"> <- Return to selection </button>
            <button id="" class="mt-5 btn btn-success btn-lg btn-block"> Add map to neighbourhood </button>
            <button id="" class="mt-5 btn btn-success btn-lg btn-block"> Add submap to map in neighbourhood </button>
            <button id="" class="mt-5 btn btn-success btn-lg btn-block"> Add neighbours to map in neighbourhood </button>
            <button id="" class="mt-5 btn btn-success btn-lg btn-block"> Add doors to maps in neighbourhood </button>
        </div>
    </div>
    <div  class="col-sm-12 col-md-9">
        <h4>Neighbourhood structure</h4>
        <div id="manager-structure-column">

        </div>
    </div>
</div>   