<div id="welcome-div" class="row window window-active my-auto">
    <div class="col-sm-4 pt-5">
        <button id="mapmaker-button" class="mt-5 btn btn-success btn-lg btn-block" onclick="alert(this.id)">Mapmaker</button>
    </div>
    <div class="col-sm-4">
        <h3 class="text-center">
            Welcome to the map app!
        </h3>
        <p class="text-center">
            Do you want to op the mapmaker or see an overview of all the maps in the game?
        </p>
    </div>
    <div class="col-sm-4 pt-5">
        <button id="map-overview-button" class="mt-5 btn btn-success btn-lg btn-block" onclick="alert('Coming soon!')">Map overview</button>
    </div>
</div>